@import "/src/styles/index";

.messages-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 15px;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 50%;
      width: 100%;
      height: 1px;
      transform: translate(-50%, 0);
      background-color: $foggy;
    }

    .user {
      display: flex;
      align-items: center;

      &__avatar {
        width: 34px;
        min-width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $gray-light;
        margin-right: 10px;
      }

      &__name {
        font-weight: 600;
      }
    }
  }

  &__messages {
    flex-grow: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__date {
      padding: 20px 0;
      color: $gray;
    }
  }

  &__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 100%;
      height: 1px;
      transform: translate(-50%, 0);
      background-color: $foggy;
    }

    button.send svg {
      transform: scaleX(-1);
    }

    .y-input {
      flex-grow: 1;
      margin: 0 10px;

      > input[name=message] {
        padding: 10px 20px;
        background-color: $gray-light;
        border-radius: 30px;
        font-size: 12px;
      }
    }
  }

  &__empty {
    @include flex-center;

    flex-grow: 1;

    .y-btn {
      position: absolute;
      right: 5px;
      top: 10px;

      & > svg {
        transform: scale(1.25);
      }
    }
  }
}
