@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
}

@mixin link {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}

@mixin input {
  width: 100%;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  outline: none;
}

@mixin button {
  background-color: $accent;
  color: $light;
  padding: 12px;
  cursor: pointer;
}

@mixin dialog-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__inputs {
    margin-bottom: auto;
  }

  &__buttons {
    @include flex-center;

    flex-direction: column;

    .y-btn {
      width: 100%;
      border-radius: 8px;
      margin: 15px 0;
    }
  }

  &__response-error {
    display: none;
    background-color: $error;
    color: $light;
    padding: 20px 10px;
    width: calc(100% + 60px);
    transform: translate(-30px, 30px);
    border-radius: 0 0 10px 10px;
    text-align: center;

    &.error--active {
      @include flex-center;
    }
  }
}

@mixin text-color($color-name, $color) {
  [class^= #{$color-name}-text],
  [class*= #{$color-name}-text] {
    color: $color;
    caret-color: $color;
  }
}

@mixin bg-color($color-name, $color) {
  [class^= #{$color-name}-color],
  [class*= #{$color-name}-color] {
    background-color: $color !important;
  }
}

@include text-color("error", $error);
@include text-color("gray", $gray);
@include bg-color("transparent", transparent);
