@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
}

@mixin link {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}

@mixin input {
  width: 100%;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  outline: none;
}

@mixin button {
  background-color: $accent;
  color: $light;
  padding: 12px;
  cursor: pointer;
}

@mixin text-color($color-name, $color) {
  [class^= #{$color-name}-text],
  [class*= #{$color-name}-text] {
    color: $color;
    caret-color: $color;
  }
}

@mixin bg-color($color-name, $color) {
  [class^= #{$color-name}-color],
  [class*= #{$color-name}-color] {
    background-color: $color !important;
  }
}

@include text-color("error", $error);
@include text-color("gray", $gray);
@include bg-color("transparent", transparent);
