$text: #1e1e1e;
$accent: #3369f3;
$blue-light: #e4edfd;
$light: #fff;
$foggy-light: #fbfbfb;
$foggy-middle: #f8f8f8;
$foggy: #eaeaea;
$gray-light: #efefef;
$gray-text: #8d8d8d;
$gray: #999;
$black: #000;
$error: #f00;
