@import "/src/styles/index";

.message {
  position: relative;
  border-radius: 0 10px 10px;
  padding: 11px;
  padding-right: 50px;
  margin: 10px 20px;
  min-width: 100px;
  max-width: 400px;
  align-self: flex-start;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;

  &:not(.message--mine) {
    margin-right: 10px;
  }

  &--text {
    background-color: $foggy-middle;

    &.message--mine {
      background-color: $blue-light;
    }
  }

  &__time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    min-width: 40px;
    text-align: center;
    padding: 3px;
    font-size: 9px;
    line-height: 9px;
    border-radius: 30px;
  }

  &--image {
    .message__time {
      color: white;
      background-color: rgba(82, 82, 82, 50%);
    }
  }

  &--mine {
    border-radius: 10px 10px 0;
    align-self: flex-end;
    margin-left: 0;
  }
}
