@import "/src/styles/index";

.y-dialog.overlay {
  @include flex-center;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  cursor: pointer;

  &:not(.y-dialog--active) {
    display: none;
  }

  .y-dialog {
    width: 340px;
    flex-direction: column;
    background-color: $light;
    padding: 30px;
    border-radius: 12px;
    cursor: auto;

    &__title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
