@import "/src/styles/index";

button:not(span).y-btn {
  @include button;
}
.y-btn {
  min-width: 40px;

  &--fab {
    @include flex-center;

    min-width: 28px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0;

    > svg {
      min-width: 28px;
    }
  }

  &--link {
    @include link;
  }
}
