@import "/src/styles/index";

.signin-page {
  @include flex-center;

  height: 100%;

  .sign-block {
    width: 340px;
    min-height: 460px;
    padding: 30px;
    margin: auto;
    background: $light;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__form {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &__inputs {
        margin-bottom: auto;

        .y-input {
          margin-bottom: 30px;
        }
      }

      &__buttons {
        @include flex-center;

        flex-direction: column;

        button {
          width: 100%;
          border-radius: 8px;
          margin: 15px 0;
        }

        a {
          @include link;
        }
      }

      &__response-error {
        display: none;
        background-color: $error;
        color: $light;
        padding: 20px 10px;
        width: calc(100% + 60px);
        transform: translate(-30px, 30px);
        border-radius: 0 0 10px 10px;
        text-align: center;

        &.error--active {
          @include flex-center;
        }
      }
    }
  }
}
